// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

	
// Page layout can be done using mixins applied to your semantic classes and IDs:
body.three-col
	#container
		+container
	#header, #footer
		+column(!blueprint_grid_columns)
	#sidebar
		// One third of the grid columns, rounding down. With 24 cols, this is 8.
		!sidebar_columns = floor(!blueprint_grid_columns / 3)
		+column(!sidebar_columns)
	#content
		// Two thirds of the grid columns, rounding up.
		// With 24 cols, this is 16.
		!content_columns = ceil(2 * !blueprint_grid_columns / 3)
		// true means it's the last column in the row
		+column(!content_columns, true)






body
	background: #528036 url(../img/background.jpg) no-repeat fixed 0 0
	font-size: 14px
a
	color: #2B4E14
	text-decoration: none
a:hover
	text-decoration: underline

h1
	font-size: 24px
	padding: 0px 0 5px
h2
	font-size: 20px
	//padding: 20px 0 5px

p
	padding: 5px 0

#container
	+container
	background: white
	padding: 20px
	margin: 0px auto
	border: 2px solid white
	-moz-border-radius: 10px
	-moz-border-top-colors: #0a0 white
	-moz-border-right-colors: #0a0 white
	-moz-border-bottom-colors: #0a0 white
	-moz-border-left-colors: #0a0 white
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0)
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.6)
	/* For IE 5.5 - 7*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"

.badge
	background: rgba(255, 255, 255, 0.8)
	-moz-border-radius: 10px
	padding: 10px
	-moz-box-shadow: 0px 0px 3px #555
	margin: 10px 0
	overflow: hidden
	width: 100%
.badge-tools
	float: right
	margin-left: 2px

#content .badge
	width: 530px

.page-tools
	float: right
	position: relative
	top: -25px
	padding-right: 10px

#header
	+container
	margin: 0px auto
#user-nav
	float: right
	position: relative
	top: 10px

#footer
	//+column(!blueprint_grid_columns)
	+container
	margin: 10px auto
	color: white
	text-shadow: 1px 1px 3px black

#navbar
	// One third of the grid columns, rounding down. With 24 cols, this is 8.
	!navbar_columns = 4
	+column(!navbar_columns)
	a
		text-decoration: none
	ul
		list-style-type: none
		ul
			margin: 0 0 0 10px
	li
		padding: 3px 0
	.selected
		font-weight: bold

#content
	// Two thirds of the grid columns, rounding up.
	// With 24 cols, this is 16.
	!content_columns = 14
	+column(!content_columns)

#content.wide
	!content_columns = 20
	+column(!content_columns, true)

#login-content
	#login
		+column(12)
	#signup
		+column(12, true)

#signup-content
	#signup
		+column(12)
	#login
		+column(12, true)
	
	

#sidebar
	// One third of the grid columns, rounding down. With 24 cols, this is 8.
	!sidebar_columns = 6
	// true means it's the last column in the row
	+column(!sidebar_columns, true)
	.page-tools
		top: -18px
	.badge
		width: 220px

.hidden
	display: none

#status-form-wrapper
	width: 550px
	overflow: hidden

#status-form-tools
	.allowed-wrapper
		float: left
		margin: 5px 5px 5px 0
	.submit-wrapper
		float: right
		margin: 5px 0 5px 5px

#status-form
	textarea
		width: 100%
		height: 25px

#status-form-tools
	vertical-align: middle

.status img, .user img
	float: left

.status .detail, .user .detail
	padding: 0 0 0 70px

.status .name, .user .name
	font-weight: bold

.write-comment textarea
	width: 100%
	font-size: 13px
	font-family: helvetica
	padding: 2px

.write-comment-mini input
	display: none

.write-comment-mini textarea
	height: 23px
	color: gray

.minimized
	input, select
		display: none
	textarea
		height: 25px
		color: gray

.comments
	width: 500px
	img
		padding: 5px

.comment, .write-comment
	margin: 3px
	padding: 3px
	clear: left

.profile-picture
	width: 50px
	height: 50px

.profile-picture-small
	width: 40px
	height: 40px

.ui-multiselect
	input
		font-weight: normal
	span.ui-icon
		margin-top: 4px

.ui-multiselect.ui-state-active input
	color: black


