html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
blockquote:before, q:before,
blockquote:after, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.three-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
body.three-col #container {
  display: block;
}
body.three-col #header, body.three-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
* html body.three-col #header, * html body.three-col #footer {
  overflow-x: hidden;
}
body.three-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
* html body.three-col #sidebar {
  overflow-x: hidden;
}
body.three-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
* html body.three-col #content {
  overflow-x: hidden;
}

body {
  background: #528036 url(../img/background.jpg) no-repeat fixed 0 0;
  font-size: 14px;
}

a {
  color: #2B4E14;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  padding: 0px 0 5px;
}

h2 {
  font-size: 20px;
}

p {
  padding: 5px 0;
}

#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  background: white;
  padding: 20px;
  margin: 0px auto;
  border: 2px solid white;
  -moz-border-radius: 10px;
  -moz-border-top-colors: #0a0 white;
  -moz-border-right-colors: #0a0 white;
  -moz-border-bottom-colors: #0a0 white;
  -moz-border-left-colors: #0a0 white;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background: rgba(255, 255, 255, 0.6);
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#container {
  display: block;
}

.badge {
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 10px;
  padding: 10px;
  -moz-box-shadow: 0px 0px 3px #555;
  margin: 10px 0;
  overflow: hidden;
  width: 100%;
}

.badge-tools {
  float: right;
  margin-left: 2px;
}

#content .badge {
  width: 530px;
}

.page-tools {
  float: right;
  position: relative;
  top: -25px;
  padding-right: 10px;
}

#header {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  margin: 0px auto;
}
#header {
  display: block;
}

#user-nav {
  float: right;
  position: relative;
  top: 10px;
}

#footer {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  margin: 10px auto;
  color: white;
  text-shadow: 1px 1px 3px black;
}
#footer {
  display: block;
}

#navbar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
* html #navbar {
  overflow-x: hidden;
}
#navbar a {
  text-decoration: none;
}
#navbar ul {
  list-style-type: none;
}
#navbar ul ul {
  margin: 0 0 0 10px;
}
#navbar li {
  padding: 3px 0;
}
#navbar .selected {
  font-weight: bold;
}

#content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
}
* html #content {
  overflow-x: hidden;
}

#content.wide {
  display: inline;
  float: left;
  margin-right: 0;
  width: 790px;
}
* html #content.wide {
  overflow-x: hidden;
}

#login-content #login {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
* html #login-content #login {
  overflow-x: hidden;
}
#login-content #signup {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
* html #login-content #signup {
  overflow-x: hidden;
}

#signup-content #signup {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
* html #signup-content #signup {
  overflow-x: hidden;
}
#signup-content #login {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
* html #signup-content #login {
  overflow-x: hidden;
}

#sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
* html #sidebar {
  overflow-x: hidden;
}
#sidebar .page-tools {
  top: -18px;
}
#sidebar .badge {
  width: 220px;
}

.hidden {
  display: none;
}

#status-form-wrapper {
  width: 550px;
  overflow: hidden;
}

#status-form-tools .allowed-wrapper {
  float: left;
  margin: 5px 5px 5px 0;
}
#status-form-tools .submit-wrapper {
  float: right;
  margin: 5px 0 5px 5px;
}

#status-form textarea {
  width: 100%;
  height: 25px;
}

#status-form-tools {
  vertical-align: middle;
}

.status img, .user img {
  float: left;
}

.status .detail, .user .detail {
  padding: 0 0 0 70px;
}

.status .name, .user .name {
  font-weight: bold;
}

.write-comment textarea {
  width: 100%;
  font-size: 13px;
  font-family: helvetica;
  padding: 2px;
}

.write-comment-mini input {
  display: none;
}

.write-comment-mini textarea {
  height: 23px;
  color: gray;
}

.minimized input, .minimized select {
  display: none;
}
.minimized textarea {
  height: 25px;
  color: gray;
}

.comments {
  width: 500px;
}
.comments img {
  padding: 5px;
}

.comment, .write-comment {
  margin: 3px;
  padding: 3px;
  clear: left;
}

.profile-picture {
  width: 50px;
  height: 50px;
}

.profile-picture-small {
  width: 40px;
  height: 40px;
}

.ui-multiselect input {
  font-weight: normal;
}
.ui-multiselect span.ui-icon {
  margin-top: 4px;
}

.ui-multiselect.ui-state-active input {
  color: black;
}
